* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
}

.App {
  position: relative;
  display: grid;
  place-content: center;
}

/* board */
.board {
  margin-top: 1rem;
  background-color: #282c34;
  padding: 0.5rem;
  display: grid;
  place-content: center;
  gap: 0.3rem;
}

.cols {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 0.3rem;
  width: max-content;
}

.ping {
  animation: ping 0.1s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1.1);
  }
}
.rows {
  border: 3px solid rgba(128, 128, 128, 0.274);
  width: 45px;
  height: 45px;
  display: grid;
  place-content: center;
  font-size: 2rem;
  border-radius: 5px;
}

#correct {
  border: 3px solid transparent;
  background-color: #6aaa64;
  animation: flip 0.6s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

#almost {
  border: 3px solid transparent;
  background-color: #b59f3b;
  animation: flip 0.6s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

#notin {
  border: 3px solid transparent;
  background-color: #464646;
  animation: flip 0.6s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

@keyframes flip {
  0%,
  25% {
    transform: rotateX(-45deg);
  }
  25%,
  50% {
    transform: rotateX(-90deg);
  }
  50%,
  75% {
    transform: rotateX(-45deg);
  }
  75%,
  100% {
    transform: rotateX(0deg);
  }
}

/* keyboard */

.keyboard {
  margin-top: 1rem;
  background-color: #282c34;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.lines {
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 0.5rem;
  width: max-content;
}

.key {
  background-color: rgb(110, 110, 110);
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.key:hover {
  background-color: rgba(94, 94, 94, 0.986);
}

.big {
  width: 80px;
}

.disabled {
  background-color: #464646;
  pointer-events: none;
}

.spacing {
  letter-spacing: 2px;
}

button {
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  background: #3b5e38;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.notify-wrap {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 4.5rem;
}

.notify {
  padding: 0.5rem;
  background-color: white;
  color: #282c34;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

@media (max-width: 640px) {
  .keyboard {
    gap: 0.3rem;
  }
  .lines {
    gap: 0.3rem;
  }
  .key {
    width: 35px;
    height: 35px;
  }

  .special {
    position: relative;
  }
  .big {
    width: 80px;
    position: absolute;
    bottom: -2.5rem;
  }
  .delete {
    right: 0;
  }
  .enter {
    left: 0;
  }
}
